body {
  border: double 5px hsl(148, 0%, 75%);
  margin: 40px;
  padding: 20px;
}

.dark-background {
  background-color: hsl(359, 0%, 20%);
  color: hsl(148, 0%, 75%);
}

.light-background {
  background-color: #ffffff;
  color: #000000;
}

#mode {
  float: right;
}

.centered-image {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
}

.centered-text {
  margin: auto;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 100px;
}

h1 {
  display: inline;
}

ul {
  line-height: 1.5em;
  list-style-position: inside;
}

ul a {
  font-style: italic;
}

ul strong {
  font-size: 20px;
}